{%extends "index.html" %}
{%block title %}Access{%endblock %}

{%block body %}
<h1>ALL BOOKS</h1><br><br>
<div class="container">
<img class="ig" src="https://cdn.shopify.com/s/files/1/0024/6874/1219/products/B2D3732HollyJackson3Books-Thumbnail.jpg"  alt="good girl's guide to murder" >

<img class="ig" src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQUrgZJeypFhuijZlmvDIfQW438PVlHC-AwOUvpB2H7TUR0bA7lVlKjJrVUaMxvXjErf4&usqp=CAU
        " alt="good girl bad blood">
  
<img class="ig" src=" https://m.media-amazon.com/images/I/91TuJEMSPaL._AC_UF1000,1000_QL80_.jpg
        " alt="it ends with us">

                 
<img class="ig" src=" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRdD3f7QpCloAVYJoi-Nk4UwHu1e_B1ho0UW9D3zhLzHL8W1DiUifwhS02GJrU-vP14Zs&usqp=CAU
            " alt="romeo and juliet">
            

<img class="ig" src="https://sun9-12.userapi.com/impf/c636422/v636422061/66128/EjTkyzLR6x4.jpg?size=640x633&quality=96&sign=5e4b52ce5430e6fd92ab669db49a1011&c_uniq_tag=RhHlGosyRj0c_-uwCmuGfPtVIEUoB0Qfwz1pbRVNNTA&type=album 
                    " alt="hicth hiker's guide to galaxy" >
                    
                   
                
<img class="ig" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2wDp2JVZpAD7Gt7qUVjM7jhi2DdD5skeb8W6QqwAnqo8FoAvoLrWcXQIvPaH7jNgbPwk&usqp=CAU
                    " alt="just for fun" >
                    
              
<img class="ig" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHdIM3ITm6Rai797LlRe6b2ZmaTdTQsYDARQ&usqp=CAU
                        " alt="digital fortress">
                                           
<img class="ig" src="https://m.media-amazon.com/images/I/81adkKbGZgL._AC_UF1000,1000_QL80_.jpg
                        " alt="angels and demons">

<img class="ig" src="https://m.media-amazon.com/images/I/81rjICLU+7L._AC_UF1000,1000_QL80_.jpg" alt="the three body problem">

              
<img class="ig" src=" https://images.squarespace-cdn.com/content/v1/597f49e25016e1ac9a8fc7e7/1530552320952-QMTBELXDC9D60VBDEE5W/The+Last+Time+I+Lied+by+Riley+Sager+book+cover+image.jpg
" alt="the last time i lied">

</div>     
                        <hr><br>
                        
<a href="/download"> <button class="btn btn-primary btn-lg" style="background-color:darkgreen ;">ACCESS BOOKS FROM AVAILABLE GENRES</button></a>
                         

{% endblock %}